body {
    margin: 0;
    padding: 0;
}

header {
    background-color: gray;
    height: 10vh;
    display: flex;
}

header > div {
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: blue;
}

.div1 {
    margin-top: 20px;
    margin-left: 20px;
}

.Paragraph {
    display: flex;
    justify-content: center;
}

article {
    padding: 20px;
}

.Bars {
    height: 50vh;
}
.Blue {
    background-color: blue;
}
.Teal {
    background-color: teal;
}
.Yellowgreen {
    background-color: yellowgreen;
}
.Yellow {
    background-color: yellow;
}
.container {
    position: fixed;
    right: 30px;
    bottom: 30px;
}
button {
    background-color: black;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    color: white;
    font-size: 24pt;
    border: none
}